header{
    background: white;
    width:100%;
    width:100%;
   height:65px;
}
footer{
    background: #4b4a4d;
    width:100%;
    height:65px;
}

header + nav{
    background: #4b4a4d;
    width:100%;
    height:35px;
}
header img{
    width: 325px;
}
header + nav a{
    font-size: 12px;
}
header label{
    color:black;
    font-size:20px;
    font-weight: bold;
}

body{
    overflow-x: hidden;
}
.body{
    min-height: 85vh;
    font-size: 16px;
}
.body button,.body input,.body a,.body select,.body h5{
    font-size: 16px;
    height: 35px;
}
.card{
    width: 100%;
    max-width: 100%;
    padding: 0px
}
.card-header{
    font-weight: 600;
}
.card-body li{
    list-style: none;
}
.card-body li a{
    color:#1e2327;
    font-weight: 500;
    }
.card-body li   a:hover{
    color:#0e0f10;
    }
table tr td{
    padding: 0!important;
    padding:5px 5px 5px 5px!important;
}
table tr td button,table tr td button i{
    width:25px;
    font-size: 10px!important;
    padding: 0!important;
    text-align: center;
}
.section{
    width:99%;
    height: 25px;
    background: #ccc9d1;
    padding-left: 5px;
}
.breadcrumb{
    padding-left: 5px;
}
select + span{
    text-align: start;
}
select,.select2,.select2 .selection, .select2-selection{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    height: calc(1.5em + .75rem + 2px)!important;
}
.mouse-over{
    cursor: pointer;
}
.pregunta{
    border: 1px solid #8a939a;
}
.spin{
    position: fixed;
    width: 100%;
      height: 100vh;
      z-index: 1000000000;
      background: rgba(0,0,0,0.6);
  }